
$yellow: #fdcc52;   
$red: #b33e2e;
$dangerred: #dc3545;
$grey: #222222;
$lightgrey: #646464;
$fwhite: #e0d0d2;
$white: #ffffff;
$black: #000000;
$shadow: #aaa;

$grad-left: #da2632;
$grad-right: #7c4394;

$feat-icons: #a9305d;

$social-twitter: #1da1f3;
$social-facebook: #3a5796;
$social-google: #cd4635;

$modal-layer: #323232;
