
body {
    background-color: #f6f6f6;
}

.icon {
    background-color: #55407b;
    color: white;
    border-radius: 10px;
    width: 1.45em;
    padding: 0;
    margin: 0;
    font-size: 3.5em;
    font-weight: bold;
}

input {
    font-size: 1.1em!important;
    border: 1px solid #e0e0e0;
}

input#email {
    border-radius: 5px 5px 0 0;
}

input#password {
    border-radius: 0 0 5px 5px;
}
