@use "variables/colors";
@use "mixins/sections" as mixins;

@media screen and (max-width: 430px) {
  .screen {
    &__image {
      @include mixins.phone_element($small: true);
      margin-bottom: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .modal {
    width: 85%;
    top: 20%;
    left: 7.5%;
  }

  .screen {
    &__text-h {
      font-size: 1.8em !important;
      padding-bottom: 1.2em;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .modal {
    width: 78%;
    top: 28%;
    left: 11%;
  }

  .screen {
    &__text-h {
      font-size: 2.5em !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .navigation-bar {
    &__brand {
      &:hover {
        color: colors.$yellow;
      }
    }
    &__menu {
      li {
        a {
          color: colors.$black;
          &:hover {
            color: colors.$lightgrey!important;
          }
        }
      }
    }
  }

  .cta {
    h1 {
      font-size: 3em !important;
    }
  }

  .features {
    &__image {
      margin-bottom: 6em;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .navigation-bar {
    &__container {
      flex-basis: 90%;
    }
  }
  .screen {
    &__text {
      &-h {
        padding: 2em 0 0.6em 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navigation-bar {
    &__container {
      margin-top: 0.6em;
      flex-basis: 100%;
    }
    &__brand {
      margin-left: 0.8em;
      margin-top: auto;
      margin-bottom: auto;
    }
    &__hamburger {
      color: colors.$white;
    }
    &__menu {
      background-color: colors.$white;
      margin-top: 0.45em;
      padding-top: 0.8em;
      padding-bottom: 1em;
      flex-basis: 100%;
      opacity: 0%;
      visibility: hidden;
      transition: visibility 0s, opacity 0.5s linear;
    }
    span {
      background-color: colors.$white;
      border: 1px solid colors.$white;
    }

    &__scrolled {
      .navigation-bar__hamburger {
          color: colors.$black;
      }
      span {
        background-color: colors.$black;
        border: 1px solid colors.$black;
      }      
    }
  }
  .screen {
    &__row {
      text-align: center;
    }
  }
}

@media screen and (min-width: 992px) {
  .navigation-bar {
    &__container {
      align-items: center;
    }
    &__hamburger {
      display: none;
    }

    &__menu {
      display: flex !important;
      flex-direction: row !important;
    }
  }
  .screen {
    &__row {
      text-align: left;
    }
  }
}
